Repository LeHoang510/sudoku-devops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-back, build-front, docker-back, docker-front

build-back:
  image: registry.gitlab.inria.fr/diverse/docker/docker-image/insa-maven:3.8-openjdk-17
  stage: build
  script:
  - cd game/game-backend
  - mvn clean package spring-boot:repackage
  artifacts:
    paths:
    - game/game-backend/target/site/jacoco/jacoco.xml
    - game/game-backend/target/game-backend-0.0.1.jar
  ...

build-front:
  image: registry.gitlab.inria.fr/diverse/docker/docker-image/insa-node:16.13.2
  stage: build
  cache:
    paths:
    - game/game-frontend/node_modules/
  script:
  - cd game/game-frontend
  - npm install
  - npm run ng build -- --configuration production --build-optimizer
  artifacts:
    paths:
  ...

docker-back:
  image:
    name: gcr.io/kaniko-project/executor:v1.5.1-debug
    entrypoint:
    - ''
  stage: deploy
  dependencies:
  - build-back
  script:
  - mkdir -p /kaniko/.docker
  ...

docker-front:
  image: gcr.io/kaniko-project/executor:v1.5.1-debug
  stage: deploy
  dependencies:
  - build-front
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

fix
  .gitlab-ci.yml
Due: build-back, build-front, docker-back, docker-front

add docker build
  .gitlab-ci.yml
Due: build-back, build-front, docker-back, docker-front

added nginx
  game/game-frontend/Dockerfile
  game/game-frontend/nginx.conf
Due: build-front

feature: finish cypress test
  game/cypress/cypress/e2e/play.cy.ts
  game/cypress/cypress/e2e/suggestions.cy.ts
Due: none

feature: finish cypress
  game/cypress/cypress/e2e/play.cy.ts
Due: none

merge: merge cypress to main
  game/game-frontend/package-lock.json
  game/game-frontend/package.json
Due: build-front

test nginx
  game/game-frontend/Dockerfile
Due: build-front

added needs in gitlabci
  .gitlab-ci.yml
Due: build-back, build-front, docker-back, docker-front

modif backend imamage
  .gitlab-ci.yml
  game/game-backend/Dockerfile
Due: build-back, build-front, docker-back, docker-front

modif backend imamage
  game/game-backend/Dockerfile
Due: build-back

modif
  .gitlab-ci.yml
Due: build-back, build-front, docker-back, docker-front

added k8s deploy
  game/game-frontend/nginx.conf
  k8s-deployment.yml
Due: build-front

added k8s deploy
  .gitlab-ci.yml
Due: build-back, build-front, docker-back, docker-front

remove nginx
  game/game-frontend/Dockerfile
  k8s-deployment.yml
Due: build-front

remove nginx
  k8s-deployment.yml
Due: none

re-added nginx and modif k8S-deploy
  game/game-frontend/Dockerfile
  k8s-deployment.yml
Due: build-front

add fixtures
  game/cypress/cypress/fixtures/game/easy.json
  game/cypress/cypress/fixtures/game/hard.json
  game/cypress/cypress/fixtures/game/inhuman.json
  game/cypress/cypress/fixtures/game/insane.json
  game/cypress/cypress/fixtures/game/medium.json
  game/cypress/cypress/fixtures/game/very-hard.json
  game/cypress/cypress/fixtures/map/easy.json
  game/cypress/cypress/fixtures/map/hard.json
  game/cypress/cypress/fixtures/map/inhuman.json
  game/cypress/cypress/fixtures/map/insane.json
  game/cypress/cypress/fixtures/map/medium.json
  game/cypress/cypress/fixtures/map/very-hard.json
Due: none

modif port expose
  game/game-frontend/nginx.conf
Due: build-front

added tag latest
  k8s-deployment.yml
Due: none

modif file nginx.conf
  game/game-frontend/nginx.conf
Due: build-front

call backend by /api
  game/game-frontend/package-lock.json
  game/game-frontend/src/app/service/game.service.ts
  k8s-deployment.yml
Due: build-front

call backed with /api
  game/game-frontend/src/app/models/game.ts
Due: build-front

test gameService + mapModel
  .gitignore
  game/game-backend/pom.xml
  game/game-backend/src/main/java/game/controller/GameController.java
  game/game-backend/src/main/java/game/service/GameService.java
  game/game-backend/src/test/java/game/controller/GameControllerTest.java
  game/game-backend/src/test/java/game/model/MapTest.java
  game/game-backend/src/test/java/game/service/GameServiceTest.java
  game/game-frontend/src/app/service/game.service.spec.ts
Due: build-back, build-front

fix developement proxy
  game/game-frontend/proxy.conf.json
Due: build-front

test backend
  game/game-backend/pom.xml
  game/game-backend/src/main/java/game/controller/GameController.java
  game/game-backend/src/main/java/game/service/GameService.java
  game/game-backend/src/test/java/game/controller/GameControllerTest.java
  game/game-backend/src/test/java/game/service/GameServiceTest.java
Due: build-back

fix: fix cypress
  game/cypress/cypress/e2e/play.cy.ts
Due: none

hoang
  game/cypress/cypress/e2e/play.cy.ts
Due: none

test
  game/cypress/cypress/e2e/play.cy.ts
Due: none

fix: test pluging
  game/game-backend/pom.xml
Due: build-back

change phase of code coverage test
  game/game-backend/pom.xml
Due: build-back

added namespace
  k8s-deployment.yml
  k8s-namespace.yml
Due: none

added gitleaks in gitlab ci
  .gitlab-ci.yml
Due: build-back, build-front, docker-back, docker-front

modified gitleaks in gitlab ci
  .gitlab-ci.yml
Due: build-back, build-front, docker-back, docker-front

disable leaks
  .gitlab-ci.yml
Due: build-back, build-front, docker-back, docker-front

enable leaks
  .gitlab-ci.yml
Due: build-back, build-front, docker-back, docker-front

Path conditions:
  build-back: (not (any of: *.md)) and (any of: game/game-backend/**/*, .gitlab-ci.yml)
  build-front: (not (any of: *.md)) and (any of: game/game-frontend/**/*, .gitlab-ci.yml)
  docker-back: (not (any of: *.md, *.spec.ts, */src/test/*)) and (any of: game-backend/**/*, .gitlab-ci.yml)
  docker-front: (not (any of: *.md, *.spec.ts, */src/test/*)) and (any of: game-frontend/*, .gitlab-ci.yml)
